version: 2
jobs:
  build:
    machine: true
    working_directory: ~/.go_workspace/src/github.com/habitat-sh/habitat-operator
    steps:
      - checkout
      - run:
          name: setup
          environment:
            K8S_VERSION: v1.10.0
            MINIKUBE_VERSION: v0.26.1
            CHANGE_MINIKUBE_NONE_USER: true
          command: |
            curl -Lo kubectl https://storage.googleapis.com/kubernetes-release/release/${K8S_VERSION}/bin/linux/amd64/kubectl && chmod +x kubectl && sudo mv kubectl /usr/local/bin/
            curl -Lo minikube https://github.com/kubernetes/minikube/releases/download/${MINIKUBE_VERSION}/minikube-linux-amd64 && chmod +x minikube && sudo mv minikube /usr/local/bin/
            sudo minikube config set WantReportErrorPrompt false
            # TODO: remove the --bootstrapper flag once this issue is solved: https://github.com/kubernetes/minikube/issues/2704
            sudo -E minikube start --vm-driver=none --bootstrapper=localkube --kubernetes-version=${K8S_VERSION} --extra-config=apiserver.Authorization.Mode=RBAC
      - run:
          name: code-gen script
          environment:
            CODEGEN_PKG: ../../../../src/k8s.io/code-generator
            CODEGEN_VERSION: kubernetes-1.10.0
            GOPATH: /home/circleci/.go_workspace
          command: |
            mkdir -p $CODEGEN_PKG
            git clone https://github.com/kubernetes/code-generator.git --branch $CODEGEN_VERSION $GOPATH/src/k8s.io/code-generator
            hack/verify-codegen.sh
      - run:
          name: unit tests
          command: make test
      - run:
          name: create image
          command: make TAG=testing image
      - run:
          name: waiting for kubernetes to be ready
          command: |
            JSONPATH='{range .items[*]}{@.metadata.name}:{range @.status.conditions[*]}{@.type}={@.status};{end}{end}'
            until kubectl get nodes -o jsonpath="$JSONPATH" 2>&1 | grep -q "Ready=True"; do
              sleep 1
            done
      - run:
          name: e2e tests
          command: make TESTIMAGE=habitat/habitat-operator:testing e2e
      - run:
          name: print habitat object logs
          command: kubectl logs -lhabitat-operator=true --tail=100
          when: on_fail
      - run:
          name: print minikube logs
          command: minikube logs
          when: on_fail
